.category {
  margin-top: 50px;
  margin-bottom: 30px !important;
  font-family: 'Open Sans Condensed';
}

.question {
  font-size: 18px !important;
  background-color: transparent !important;
}

.icon {
  color: rgba(237, 109, 2, 1);
  font-size: 24px;
}