.header {
  &__background {
    background-color: #974602 !important;
    height: 58px;
    display: flex;
    align-items: center;
  }

  &__title {
    font-family: 'Humanst521 BT';
    font-weight: bold;
    color: white !important;
    padding-left: 10px;
    text-transform: uppercase;

  }

  &__bottom {
    background-color: #ED6D02 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 128px !important;

    &-title {
      color: white !important;
      font-size: 32px !important;
      text-shadow: 0 3px 6px rgba(0, 0, 0, 0.20);
    }
  }

  &__icon {
    width: 27px;
    height: 27px;
    padding-top: 3px;
  }
}

.flex {
  display: flex !important;
}